<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NetSim</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>
    {% block packetGenerator %}{% endblock %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/script.js/0.1/script.js"></script>

    <script>
        function onChange(combobox, id) {
            var input = document.getElementById(id);
            if (combobox.value !== "0"){
                input.style.display='inline';
            }
            else {
                input.style.display='none';
            }
        }
    </script>
    <script>
        var counter = 1;

        function addPg(){
            counter++;
            var objNewDiv = document.createElement('div');
            objNewDiv.setAttribute('id', 'inner-row-pg-' + counter);
            objNewDiv.setAttribute('class', 'row');
            objNewDiv.innerHTML = '<div class="col"> <form class="form"> <label class="label">Name</label> <div class="form-group"> <input placeholder="Type here your name" class="input"/> </div> </form> </div> <div class="col"> <form class="form"> <label class="label">Packets to Create</label> <div class="form-group"> <input placeholder="Type here your name" class="input"/> </div> </form> </div> <div class="col"> <form class="form"> <label class="label">Arrival Rate</label> <div class="form-group"> <select id="arrival-rate-combobox" class="Select-ArrivalRate" onchange="onChange(this, this.nextElementSibling.id)"> <option value="0">- Select option -</option> <option value="1">Poisson</option> <option value="2">Exponential</option> </select> <input id="arrival-rate-input' + counter + '" type="text" name="other" class="input arrivalRate" style="display: None; width: 50px"/> </div> </form> </div>';
            document.getElementById('main-row-pg').appendChild(objNewDiv);
        }
    </script>

    <script>
        var counter = 1;

        function addNode(){
            counter++;
            var objNewDiv = document.createElement('div');
            objNewDiv.setAttribute('id', 'inner-row-node-' + counter);
            objNewDiv.setAttribute('class', 'row');
            objNewDiv.innerHTML = '<div class="col"> <form class="form"> <label class="label">Name</label> <div class="form-group"> <input placeholder="Type here node\'s name..." class="input"/> </div> </form> </div> <div class="col"> <form class="form"> <label class="label">Buffer Size</label> <div class="form-group"> <input placeholder="Enter Buffer Size..." class="input"/> </div> </form> </div> <div class="col"> <form class="form"> <label class="label">Transmission Rate</label> <div class="form-group"> <input placeholder="Enter Transmission Rate..." id="transmission-rate-input" type="text" name="other" class="input transmissionRate""> </div> </form> </div>';
            document.getElementById('main-row-node').appendChild(objNewDiv);
        }
    </script>
</html>